table#main-datatable tbody td {
  font-size: 12px;
  padding: 4px 8px;
  line-height: normal;
  vertical-align: middle;
  white-space: nowrap;
}

[data-dt-column="0"] span.dt-column-order {
  display: none;
}

[data-dt-column="0"] {
  min-width: 94px;
}

.filter-tools span.input-group-text {
  font-size: 0.9em;
}

.filter-tools .input-group {
  width: 224px;
  z-index: 4;
}

.filter-tools button#clear-filters {
  font-size: 0.9em;
  padding: 8px 8px;
  z-index: 4;
}

.tab-tools-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-tools {
  order: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  margin-bottom: -25px;
  z-index: 1;
}

.nav-tabs {
  position: relative;
  z-index: 2;
}

#contentDt .dt-layout-row:first-child .dt-layout-cell.dt-start,
#contentDt .dt-layout-row:first-child .dt-layout-cell.dt-end {
  display: none;
}

#contentDt .dt-layout-row:last-child {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
}

#contentDt span.dt-column-order::before {
  margin-bottom: 2px;
}

#contentDt .dt-layout-row:last-child .dt-layout-cell.dt-start,
#contentDt .dt-layout-row:last-child .dt-layout-cell.dt-end {
  width: 100%;
}

#contentDt .dt-layout-row:last-child .dt-layout-cell.dt-end {
  text-align: right;
}

div.dt-container div.dt-info {
  padding-top: 0px;
}

#contentDt table td {
  text-transform: uppercase;
}

.wrapper.toggled .page-content-wrapper {
  padding: 0px;
}

#contentDt .dt-paging button {
  background-color: var(--clr-primary-lightest);
  color: var(--clr-primary);
  border: 0px;
  border-radius: 4px;
  margin-left: 4px;
  padding: 9px 10px;
}

.table thead th {
  color: #5f5f5f;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #ced4da;
}

.dt-scroll-body {
  border-bottom: 1px solid #dee2e6 !important;
}

table.dataTable thead > tr > th.dt-orderable-asc:hover,
table.dataTable thead > tr > th.dt-orderable-desc:hover,
table.dataTable thead > tr > td.dt-orderable-asc:hover,
table.dataTable thead > tr > td.dt-orderable-desc:hover {
  outline: none;
}

@media screen and (min-width: 1400px) {
  .wrapper.toggled .page-content-wrapper {
    padding: 0px;
  }
}
